/* Colors */
$primary_color: #2B2E63 !default;
$primary_alt_color: #798dc5 !default;
$primary_error_color: #c00 !default;
$primary_text_color: #414141 !default;

$link_color: #2B2E63 !default;
$link_alt_color: #414141 !default;

$footer_bg_color: #1a1e5b;

/* Widths */
$min-xl-desktop: 1200px;
$min-desktop: 992px;
$min-tablet: 768px;
$min-mobile: 576px;
$min-xs-mobile: 375px;